* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", san-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

header {
    padding: 1em;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    background-image: url("https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    min-width: 300px;
    padding: 1em;
}

.start-quiz {
    text-align: center;
}

.main-section {
    padding: 1.5em;
    width: 100%;
}

.response-action, .restart-form {
    text-align: center;
    padding: 1.5em;
    width: 100%;
}

.readable-background {
    background-color: rgba(255,255,255,0.9);
}

fieldset{
    border-style: none;
}

button {
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
}

legend {
    font-weight: bold;
    margin-bottom: 1em;
}

label {
    display: block;
}

.buttons-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.progress-footer {
    color: blue;
    font-weight: bold;
}
