* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", san-serif;
    background-image: url("https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    max-width: 500px;
    background-color: rgba(255,255,255,0.75);
    padding: 1.5em;
}

fieldset{
    border-style: none;
    margin: 1em 0;
}

.question {
    font-weight: bold;
    margin-bottom: 1em;
}

footer {
    /* how do I make the min-width responsive? */
    min-width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-footer {
    color: blue;
    font-weight: bold;
}
